.navbar-contaainer{
  display: flex;
}

.navbar-list{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.intro{
  width: 40%;

}


.title{
  text-align: center;
  color:#5A99F7;
  font-size: 24px;
  display: block;
}
.span{
  color: #646464;
}

.blog{
  border: 1px solid #0a0909;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  background-color: #F0F0F0;
  text-align: center;
  width: 600px;
  height: 250px;
  
}
.tag{
  list-style: none;
  display: flex;
}
.tags li {
   padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  text-align: justify;
}
#cert-container{
  padding: 15px 40px 40px 40px;
}
.top{
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 60px;
  padding: 15px;
  
}
#cert-cont{
  border: 8px solid rgba(211, 211, 211, 0.536);
  display: flex;
  width: 25%;
  height: 150px;
  margin: 15px 15px 15px 35px;
  padding: 20px;
  border-radius: 7px;
}
.bottom{
  display: flex;
  flex-wrap: wrap;
  /* margin: 10%; */
  /* padding: 20px; */
}
.issuer{
 display: flex;
 width:40%;
 flex-direction: column;
 justify-content: flex-end;
}
.cert-details{
  display: flex;
  width:55%;
  flex-direction: column;
  margin: 3px;
  justify-content: center;
}